body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  width: 100%;
  height: 100vh;
  display: grid;
  text-align: center;
  color: white;
  font-size: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.child-1 {
  background-color: #f4aa2a;
  grid-row: 1/2;
  grid-column: 1/3;
}
.child-2 {
  background-color: #61c52b;
  grid-column: 3/4;
  grid-row: 1/4;
}
.child-3 {
  background-color: #993399;
  grid-column: 1/2;
  grid-row: 2/4;
}
.child-4 {
  background-color: #0000ff;
  grid-column: 2/3;
  grid-row: 2/6;
}
.child-5 {
  background-color: #ee11dc;
  grid-column: 3/4;
  grid-row: 4/6;
}
.child-6 {
  background-color: red;
  grid-column: 1/2;
  grid-row: 4/6;
}

@media (max-width: 768px) {
  .parent {
    display: flex;
    flex-direction: column;
  }
  .child-1 {
    height: 15vh;
    order: 1;
  }
  .child-2 {
    height: 20vh;
    order: 3;
  }

  .child-3 {
    height: 40vh;
    order: 2;
  }
  .child-4 {
    height: 5vh;
    order: 5;
  }
  .child-5 {
    height: 20vh;
    order: 4;
  }

  .child-6 {
    display: none;
  }
}
